{% extends "base.html" %}

{% block title %}
  Nosotros
{% endblock %}

{% block active-about %}
  active
{% endblock %}

{% block content %}
  <section>
    <h1 class="titulo">Nosotros</h1>
    <div class="about row">
      <img class="about__image col-sm-12 col-lg-3" src="/media/nosotros.jpg" alt="">
      <p class="about__description col-sm-12 col-lg-9">Somos un centro de estética formado por un equipo de profesionales que trabaja para ayudar a lograr los resultados estéticos que nuestros clientes buscan.Te esperamos en nuestro centro para ofrecerte una consulta sin cargo, en la cual podrás evacuar todas tus dudas respecto a los tratamientos.
        <br>
        <span>Encontrás servicios en favor de tu salud y tu belleza como la técnica de radiofrecuencia, que ofrece resultados comprobados contra la flaccidez y la celulitis mediante un calentamiento controlado y selectivo.</span>
      </p>
    </div>
  </section>
{% endblock %}