{% extends "base.html" %}

{% block title %}
  Ubicación
{% endblock %}

{% block active-location %}
  active
{% endblock %}

{% block content %}
  <section>
    <h1 class="titulo">Ubicación</h1>
    <div class="location">
      <p class="location__description">Julián Álvarez & Güemes</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.665399373735!2d-58.417834084901294!3d-34.58733206413801!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca80209f6033%3A0xc027777c7ff55053!2zSnVsacOhbiDDgWx2YXJleiAmIEfDvGVtZXMsIEMxNDI1IENBQkE!5e0!3m2!1ses-419!2sar!4v1674652296635!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </section>
{% endblock %}